name: End to End Tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run Tests
        run: |
          # set -ex
          make test-e2e
          cat kuttl/setup/setup.yaml

      - name: Check for Modified Files
        run: |
          set -ex
          git diff
